:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #e9e9e9;
  --link-background: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #191919;
    --text-color: rgba(255, 255, 255, 0.81);
    --border-color: rgba(255, 255, 255, 0.13);
    --link-background: #2f2f2f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: var(--background-color);
  color: var(--text-color);
}

main {
  max-width: 710px;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.intro {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.intro > span {
  margin: 16px 0;
}

.image-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 24px; */
}

.image-hero-links {
  width: 100%;
}

.image-hero-links > a {
  width: 100%;
}

.image-hero > img {
  width: 300px;
  height: 300px;
}

.intro a {
  background: var(--link-background);
  display: flex;
  align-items: center;
  color: rgba(94, 135, 201, 1);
  fill: rgba(94, 135, 201, 1);
  margin-top: 24px;
  font-weight: bold;
  height: 50px;
  font-size: 1.5rem;
  word-wrap: break-word;
  border-color: rgba(255, 255, 255, 0.283);
  cursor: pointer;
}

section {
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 4px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

section:last-of-type {
  border-bottom: unset;
  padding-bottom: 2rem;
}

h2,
.description {
  max-width: 100%;
  width: 100%;
  word-break: break-word;
  caret-color: var(--text-color);
  color: var(--text-color);
  padding: 3px 2px;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3;
}

ul {
  padding-left: 16px;
}

li {
  height: 30px;
  padding: 2px 4px;
}

a {
  width: fit-content;
  color: var(--text-color);
  border-color: rgba(255, 255, 255, 0.283);
  opacity: 0.7;
}

section > a {
  margin-bottom: 12px;
}

.more-space {
  margin: 30px 0;
}

@media (min-width: 768px) {
  main {
    margin: auto;
  }

  section > a {
    height: 30px;
    margin-bottom: 0px;
  }

  .image-hero {
    flex-direction: row;
    gap: 48px;
  }

  .image-hero-links {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 330px;
  }
}
