---
import '../styles/global.css'

const {
  title = "Hi, I'm Pitiș | Software Engineer & SaaS Founder",
  description = 'Explore the journey of Radu Pitis, a software engineer and founder of three SaaS companies.',
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' href='/picture.jpeg' type='image/jpeg' />
    <!-- <link rel='preload' as='image' href='/picture.jpeg' fetchpriority='high' /> -->
    <title>{title}</title>

    <!-- Basic Meta -->
    <meta name='description' content={description} />
    <meta
      name='keywords'
      content='Software Engineer, SaaS Founder, Startup Growth, Product Development, Cloud Computing'
    />
    <meta name='robots' content='index, follow' />
    <meta name='author' content='Radu Pitis' />
    <link rel='canonical' href='https://pitis.me' />

    <!-- Open Graph -->
    <meta
      property='og:title'
      content="Hi, I'm Pitiș - Software Engineer & SaaS Founder"
    />
    <meta
      property='og:description'
      content='Discover the journey of a software engineer and SaaS founder. Learn about my projects, expertise, and insights on SaaS development.'
    />
    <!-- <meta property="og:image" content="https://pitis.me/og-image.jpg" /> -->
    <meta property='og:url' content='https://pitis.me' />
    <meta property='og:type' content='website' />

    <!-- Twitter Card -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta
      name='twitter:title'
      content="Hi, I'm Pitiș - Software Engineer & SaaS Founder"
    />
    <meta
      name='twitter:description'
      content='Explore my journey as a software engineer and SaaS founder. Insights on SaaS development and tech entrepreneurship.'
    />
    <!-- <meta name="twitter:image" content="https://pitis.me/twitter-image.jpg" /> -->
  </head>
  <body class='bg-background text-foreground'>
    <slot />

    <script is:inline>
      // Check user preference from localStorage
      const savedTheme = localStorage.getItem('theme')

      if (savedTheme === 'dark') {
        document.documentElement.classList.add('dark')
      } else if (savedTheme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        const prefersDark = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
        if (prefersDark) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }

      window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', (event) => {
          if (!localStorage.getItem('theme')) {
            if (event.matches) {
              document.documentElement.classList.add('dark')
            } else {
              document.documentElement.classList.remove('dark')
            }
          }
        })
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
